# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Env files
.env
.env.*

# Build artifacts
dist/
build/

# OS / editor noise
.vscode/
.idea/

# Temporary files
*.tmp
*.temp